.row.bg-title
  .col-lg-12
    %h4.page-title Welcome to My Admin
    %ol.breadcrumb
      %li
        %a{:href => "#"} Dashboard
      %li.active Dashboard 1
  / /.col-lg-12
/ /.row
.row
  .col-md-12.col-lg-9.col-sm-12
    .white-box
      .row.row-in
        .col-lg-3.col-sm-4
          .col-in.text-center
            %h5.text-danger Donations
            %h3.counter 
              = @total_donations
        .col-lg-3.col-sm-4
          .col-in.text-center.b-r-none
            %h5.text-muted.text-warning Users
            %h3.counter
              = @total_users
        .col-lg-3.col-sm-4
          .col-in.text-center
            %h5.text-muted.text-purple Charities
            %h3.counter 
              = @total_charities
      #morris-area-chart{:style => "height: 345px;"}
  
  

.row
  .col-md-4.col-xs-12.col-sm-6
    .white-box
      %h3 Recent donations
      %ul.list-task.list-group{"data-role" => "tasklist"}
        %li.list-group-item{"data-role" => "task"}
          .checkbox.checkbox-info
            %input#inputSchedule{:name => "inputCheckboxesSchedule", :type => "checkbox"}/
            %label{:for => "inputSchedule"}
              %span Schedule meeting
  .col-md-4.col-xs-12.col-sm-6
    .white-box
      %h3 Recent Users
      .message-center
        %a{:href => "#"}
          .user-img
            = image_tag 'users/pawandeep.jpg', alt: 'user-img', class: 'img-circle'
            %span.profile-status.online.pull-right
          .mail-contnet
            %h5 Pavan kumar
            %span.mail-desc Just see the my admin!
            %span.time 9:30 AM
  
