.text-center
  %h2 Welcome to billionaires jet
  %p= t('devise.confirmations.confirmed')

  %p To download app, please visit follow links

  %a.btn.btn-primary.w45{:href => "https://play.google.com/store/apps/details?id=com.android.billionairesjet"} Google play
  %a.btn.btn-success.w45{:href => "#"} Itunes
